@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.BandMember>
@{
    Layout = "Master.cshtml";
    
    var name = Model.Value<string>("memberName");
    var instrument = Model.Value<string>("instrument");
    var introductionText = Model.Value<string>("introductionText");
    var image = Model.Value<IPublishedContent>("photo");
}

<div class="row mt-4 justify-content-center">
    <div class="col-4">
        <img class="img-fluid p-1 bg-body rounded" src="@image.Url()" alt="@name"/>
    </div>
    <div class="col-8">
        <h2 class="display-3 mb-0">@name</h2>
        <small class="text-center text-white text-opacity-75">@instrument</small>
        <p>@Html.Raw(introductionText)</p>
    </div>
</div>