@inherits UmbracoViewPage

@{
    Band band = Model.Root().Descendants<Band>().FirstOrDefault();
    IEnumerable<BandMember> bandMembers = band.Descendants<BandMember>();
}

<div class="row my-4 justify-content-center">
    <div class="col-12">
        <h2 class="display-3 text-center">@Umbraco.GetDictionaryValue("Band.EpinikionIs")</h2>

        @if (bandMembers.Any())
        {
            <div class="row row-cols-1 row-cols-md-3 g-3">
                @foreach (BandMember bandMember in bandMembers)
                {
                    <div class="col">
                        <div class="card h-100 text-white text-center bg-dark">
                             <img src="@bandMember.Photo.Url()" class="card-img-top" alt="@bandMember.MemberName">
                            <div class="card-body">
                                <h5 class="card-title">@bandMember.MemberName</h5>
                                <p class="card-text">@bandMember.IntroductionText</p>
                                <a href="@bandMember.Url()" class="btn btn-outline-light stretched-link">Read more</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">@bandMember.Instrument</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>